/* .container px-4 py-8 mx-auto {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.container px-4 py-8 mx-auto h1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.mb-8 text-4xl font-bold text-center text-cyan-800 {
    opacity: 1;
} */

/* @layer utilities {
  .font-tamil {
    font-family: font-latha, sans-serif;
  }
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes customAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-custom {
  animation: customAnimation 1s ease-in-out forwards;
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out both;
}

.effect-container {
  position: relative;
  overflow: hidden;
  --effect-name: ripple;
  --effect-duration: 1000ms;
  --effect-top: 0px;
  --effect-left: 0px;
  --effect-height: 100px;
  --effect-width: 100px;
  --effect-color: white;
}

.effect-container::before {
  position: absolute;
  opacity: 0.3;
  content: "";
  top: var(--effect-top);
  left: var(--effect-left);
  width: var(--effect-width);
  height: var(--effect-height);
  border-radius: 20%;
  transform: scale(0);
  background: var(--effect-color);
}

.effect-container.active::before { 
  border-radius: 20%;
  animation: ripple var(--effect-duration) linear forwards;
}

@keyframes ripple {
  from {
  transform: scale(0);
  }

  to {  
 transform: Scale (6);
  opacity: 0;
}
}